.timer{
 
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
h2{
    font-family: 'Roboto',sans-serif;
    font-size: 32px;
}